
.mb-0 {
  margin-bottom: 0 !important;
}
.mb {
  margin-bottom: .5rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt {
  margin-top: 0.5rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mr {
  margin-right: 0.5rem !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.ml {
  margin-left: 0.5rem !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.hidden-sm {
  display: none;
  @include for-large-up {
    display: initial;
  }
}

.hidden-lg {
  display: initial;
  @include for-large-up {
    display: none;
  }
}

.no-margin {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.fill-y {
  height: 100%
}

.fill-x {
  width: 100%
}

.flex {
  display: flex;
  // justify-content: flex-start;

  &.flex-center {
    align-items: center;
    // justify-content: center;
  }
  &.flex-center-vertical {
    justify-content: center;
  }

  &.flex-down {
    display: flex;
    flex-direction: column;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.flex-oposite {
    justify-content: space-between
  }
  &.flex-no-shrink {
    flex-shrink: 0;
  }

}
.flex-right {
  margin-left: auto;
  margin-right: 0;
}

.block {
  display: block;
}

.section {
  padding: 1rem 2rem;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
