$content-width-max: 900px;
$page-width-max: 650px;
$sidebar-width: 250px;
$navbar-height: 100px;
// 800px total width to match mixins break

#app {
  width: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

#nav-container {
  position: fixed;
  left: 0;
  right: 0;
  height: $navbar-height;
  padding: 1rem 0;
  display: flex;
  justify-content: center;

  #nav {
    width: 100%;
    padding: 0 1.5rem;
    @include for-large-up {
      padding: 0 2rem;
      max-width: $content-width-max;
    }
    .nav-list {
      white-space: nowrap;
      overflow-x: scroll;
    }
  }
}

.content {
  margin: 0 auto;
  max-width: $content-width-max;
  // Padding for Nav Height
  padding: $navbar-height + 30px 2rem 0 2rem;
  display: grid;



  grid-template-rows: auto auto;
  grid-template-columns: auto;
  grid-template-areas:
    "sidebar"
    "page";

  @include for-large-down {
  &.grid-sidebar-down {
      grid-template-areas:
      "page"
      "sidebar"
      "footer";
      ;
    }
  &.grid-sidebar-up {
      grid-template-areas:
      "sidebar"
      "page"
      "footer";
      ;
    }
  }

  @include for-large-up {
    column-gap: 50px;
    grid-template-rows: auto auto;
    grid-template-columns: auto $sidebar-width;
    grid-template-areas:
      "page sidebar"
      "footer .";
  }

  .page {
    grid-area: page;
    @include for-large-up {
      max-width: $page-width-max;
    }
  }

  .sidebar {
    grid-area: sidebar;
    @include for-large-up {
    }
  }
  .footer {
    grid-area: sidebar;
    @include for-large-up {
    }
  }
}

