$nav-width: 112px;
$content-width: 600px;
$gutter: 38px;

#app {
  display: flex;
  height: 100%;
  width:100%;
  flex-direction: column;
  @include for-large-up {
    justify-content: center;
    flex-direction: row;
  }
}

#nav {
  width: 100%;

  @include for-large-up {
    padding-left: 2rem;
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: $nav-width;
  }
}

.page {
  width: 100%;

  @include for-large-up {
    width: $content-width;
    min-width: 0;
  }
}

// .sidebar-api-nav {
//   $sidebar-api-nav-width: 400px;
//   transition: margin 200ms ease-in-out;
//   z-index: 2;
//   min-width: 100%;
//   margin-left: 0;
//   height: 75px;
//   @include for-large-up {
//     box-sizing: padding-box;
//     min-width: $sidebar-api-nav-width;
//     max-width: $sidebar-api-nav-width;
//     height: 100%;
//   }
//   &.collapsed {
//     margin-left: -$sidebar-api-nav-width;
//   }
// }

// .col-main-wrapper {
//   position: relative;
//   width:100%;
//   overflow-y: auto;
// }

// .document-container {
//   @include for-large-up {
//     max-width: 800px;
//     min-width: 0;
//   }

// }


