$navbar-height: 100px;
$wrapper-width-max: 900px;
$content-width-max: 650px;
$sidebar-width: 250px;
// 800px total width to match mixins break
$content-header-height: 200px;

// div {
//   border: 1px solid red;
// }

body {
  // height: 100vh;
}

#app {
  position: relative;
  width: 100%;
  // height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

#nav-container {
  position: fixed;
  left: 0;
  right: 0;
  height: $navbar-height;
  padding: 1rem 0;
  display: flex;
  justify-content: center;

  #nav {
    width: 100%;
    padding: 0 .75rem;
    @include for-large-up {
      padding: 0 1rem;
      max-width: $wrapper-width-max;
    }
    .nav-list {
      white-space: nowrap;
      overflow-x: auto;
    }
  }
}

.wrapper {
  margin: 0 auto;
  width: $wrapper-width-max;
  // Padding for Nav Height
  padding: $navbar-height + 10px 1rem 0 1rem;

  display: grid;

  @include for-large-down {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "sidebar"
        "content-header"
        "content"
        "footer";
    &.sm-grid-sidebar-down {
        grid-template-areas:
        "content-header"
        "content"
        "sidebar"
        "footer";
      }
  }

  @include for-large-up {
    column-gap: 50px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto $sidebar-width;
    grid-template-areas:
      "content-header content-header"
      "content sidebar"
      "footer footer";
  }

  .content-header {
    grid-area: content-header;
  }

  .content {
    grid-area: content;

    @include for-large-up {
      max-width: $content-width-max;
    }
  }

  .sidebar {
    grid-area: sidebar;
    @include for-large-up {
    }
  }

  .footer {
    grid-area: footer;
    @include for-large-up {
    }
  }
}

