.tos-container {
    margin: 0 auto;
    width: $content-width-max;
    // Padding for Nav Height
    padding: $navbar-height + 10px 1rem 8rem 1rem;
  }
  
.tos-header {
}

.tos-title {
    margin: 0;
}

.tos-subtitle {
    margin: 1rem 0 1rem 0;
}

.tos-marker {
    height: 0.25rem;
    width: 3rem;
    background-color: $dark;
    box-shadow: 4px 3px $yellow;
}

.tos-list {
    margin: 2rem 0;
}