body {
  // background-color: $cream;
}

body, h1, h2, h3, h4, h5, h6 {
  color: $dark;
}

a {
  color: $dark;
  text-decoration: underline;
  text-decoration-color: $yellow;
}

a:hover {
  text-decoration-color: $dark;
}

.muted {
  color: $dark-gray;
}

.marker {
  display: block;
  margin-top: 0.75rem;
  width: 3rem;
  height: 0.25rem;
  background-color: $dark;
  box-shadow: 4px 3px $yellow;
}

.border-thin {
  border-radius: 3px;
  border: 1px solid $dark;
}
.border-thick {
  border-radius: 5px;
  border: 2px solid $dark;
}

.invert {
  background-color: $dark;
  h1, h2, h3, h4, h5, p {
    color: white;
  }
}
