body {
  // background-color: $cream;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
}

a {
  color: $dark;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: $yellow;
}

a:hover {
  text-decoration-color: $dark;
}

.muted {
  color: $dark-gray;
}

.marker {
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  width: 3rem;
  height: 0.25rem;
  background-color: $dark-gray;
}

.border-thin {
  border-radius: 1px;
  border: 1px solid $dark;
}
.border-thick {
  border-radius: 1px;
  border: 2px solid $dark;
}

.invert {
  background-color: $dark;
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a {
    color: white;
  }
}

.pill {
  display: inline-block;
  padding: 0.125rem 0.25rem;
  background-color: $green;
  font-size: $font-size-h4;
  border-radius: 4px;
  border: 1px solid $dark;
}
