@import 'variables';


$breakpoint: 800px;

@mixin for-large-down {
  // @media (max-width: 899px) { @content; }
  @media (max-width: $breakpoint - 1) { @content; }
}
@mixin for-large-up {
  // @media (min-width: 900px) { @content; }
  @media (min-width: $breakpoint) { @content; }
}
@mixin for-very-wide-up {
  @media (min-width: 1200px) { @content; }
}



@mixin shadow-color($color, $x: 4px, $y: 3px) {
  transition: box-shadow 150ms;
  box-shadow: $x $y $color;
}
