* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

hr {
  border: none;
  border-bottom: 1px solid $light-gray;
}
