// Yes: Font, Sizes, Spacing
// No: Left-Right Padding/Margins, Component Specific Spacing


body {
    font-family: $font-family;
    font-size: $font-size-p;
    line-height: 1.5;
}

code {
    font-family: $font-family-mono;
    tab-size: 2;
}

p {
    font-size: $font-size-p;
    font-family: $font-family-serif;
    margin-bottom: 16px;
    &.sans {
        font-family: $font-family;
    }
}
p, span {
    &.small {
        font-size: $font-size-h4;
    }
}

label {
    display: block;
    font-size: $font-size-h4;
    font-weight: 600;
    margin-bottom: .25rem;
}

h1,h2,h3,h4,h5 {
    font-weight: $font-weight-bold;
    margin-top: 0;
    margin-bottom: 0;
    span {
        vertical-align: middle;
    }
}
h1 {
    font-size: $font-size-h1;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: $font-size-h2;
}
h3 {
    font-size: $font-size-h3;
}
h4 {
    font-size: $font-size-h4;
}
h5 {
    font-size: $font-size-h5;
}

.emoji {
    font-size: $font-size-h2;
}
