// TODO - move/combine with Button component
// currently used in login

.button {
    cursor: pointer;
    display: inline-block;
    padding: $padding-xs $padding-md;
    font-size: $font-size-p;
    margin-right: 1rem;

    background-color: $yellow;
    color: dark;

    @extend .border-thin;
    &:hover{
        @include shadow-color($dark);
    }

    transition: box-shadow 200ms;
    &:active {
        box-shadow: 0 0 $dark;
    }

    &.dark {
        color: white;
        background-color: $dark;
    }

    &.linkedin {
        background-color: #003f67;
        color: white;
    }

    &.icon {
        span {
            vertical-align: middle;
            margin-right: .25rem;
        }
        img{
            display: inline-block;
            margin-right: 5px;
            height: 1rem;
        }
    }
}



// Requires div > span
.button-text {
    cursor: pointer;
    display: inline-block;
    margin-right: 1rem;
    span {
        border-bottom: 2px solid $yellow;
        padding-bottom: 1px;
        &:hover{
            border-bottom-color: $dark;
        }
    }
}
