.button {
    cursor: pointer;
    display: inline-block;
    padding: $padding-xs $padding-md;
    background-color: $yellow;

    font-size: $font-size-p;

    @extend .border-thin;
    &:hover{
        @include shadow-color($dark);
    }

    transition: box-shadow 200ms;
    &:active {
        box-shadow: 0 0 $dark;
    }
}

// Requires div > span
.button-text {
    cursor: pointer;
    span {
        border-bottom: 2px solid $yellow;
        padding-bottom: 1px;
        &:hover{
            border-bottom-color: $dark;
        }
    }
    // text-decoration: underline;
    // text-decoration-color: $yellow;
}
